BASE_URL=http://localhost/gestion_Rh/
APP_NAME=gestionRh

DB_HOST=localhost
DB_USERNAME='root'
DB_PASSWORD=''
DB_DATABASE=gestionrh
DB_PORT=3306
DB_CONNECTION=mysqli

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
