
		* {
			margin: 6px 6px 6px 6px;
		}

		body {
			font-family: "Calibri", Times, serif;
			padding-top: 50px;
			padding-bottom: 65px;
			height: 80%;
		}

		#titel{
           text-align: center;
			padding-bottom: 65px;

		}
	
b{ text-transform: capitalize;

         }

		.instruction {
			margin: 40px;

		

			text-align: right !important;
			
		}

	